.hero {
  background-image: url('../img/gplaypattern.png');
  background-repeat: repeat;
  padding: 4em 0 5em 0;
  border-top: 1px solid #ECECEC;
  border-bottom: 2px solid #ECECEC;
  @include MQ(S){
    padding: 3em 0 3em 0;
  }
}

.hero__title {
  text-shadow: 1px 1px 1px $white;
  margin-top: 0;
  font-size: $base-font-size * 4; // h1 16 * 2.25 = 36px
  @include MQ(S){
    font-size: 2.25em;
  }
}

.hero__title__subhead {
  text-shadow: 1px 1px 1px $white;
  margin-top: 0;
  font-size: $base-font-size * 2; // h2 : 16 * 2 = 32px
  font-weight: bold;
  @include MQ(S){
    font-size: 1.5em;
  }
}
