nav {
  position: relative;
  @include MQ(XM){
    position: static;
  }
}

.navigation__list{
  position: absolute;
  right: 0;
  @include MQ(XM){
    position: static;
    text-align: center;
  }
}

// The nav items

.navigation__list--item {
  display: inline-block;
  line-height: 2em;
  padding-right: 2em;
  font-size: 1.5em;
  &:last-child{
    padding-right: 0em;
  }
  @include MQ(S){
    font-size: 1.15em;
  }
}

// nav links

.navigation__link {
  color: $white;
  &:focus,
  &:hover {
    color: $brick;
  }
}

.logo__img{

}

.logo__link{
  width: 100%;
  line-height: 2em;
  @include MQ(XM){
    text-align: center;
  }
}