.btn {
  height: auto;
  line-height: normal;
  outline: 0;
  padding: 1em 1.5em;
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  padding: 1em 1.5em;
  cursor: pointer;
  color: $white;
  border: 1px solid $key-west;
  background: $key-west;
  @include transition (background .6s ease-in-out, border .6s ease-in-out);
  &:hover {
    color: $white;
    background: $blueberry;
    border: 1px solid $blueberry;
    @include transition (background .6s ease-in-out, border .6s ease-in-out);
  }
  &:active {
  }
  &:focus {
  }
}

.btn--red-orange {
  @extend .btn;
  border: 1px solid $red-orange;
  background-color: $red-orange;
  &:hover {
    background: darken($red-orange,10);
    border: 1px solid darken($red-orange,10);
  }
}

.btn--key-west {
  @extend .btn;
  border: 1px solid $key-west;
  background: $key-west;
  &:hover {
    background: $blueberry;
    border: 1px solid $blueberry;
  }
}

.btn__link{
  color: $white;
  &:hover{
    color: $white;
  }
}

.btn__link--full-width {
  @extend .btn;
  width: 100%;
  text-align: center;
	margin-bottom: 2em;
}

.btn--solution{
  @extend .btn__link--full-width;
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0;
}

.btn--form {
  @extend .btn__link--full-width;
  @extend .btn--key-west;
  margin-top: 2.3em;
  margin-bottom: 0;
  height: 58px;
}

.btn--hero {
 @extend .btn;
}

.btn--customer-portal {
 @extend .btn;
}

// .btn--newsletter {
//   @extend .btn--orange;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 33.33334%;
// }

.btn--accordion {
  display: inline-block;
  padding: 0.3em 1.7em;
  background: $key-west;
  font-size: .8em;
  color: $white;
  margin-top: 1.7em;
}

.btn--search {
  display: block;
  float: left;
  font-size: 35px;
  @include MQ(M){
    font-size: 27px;
  }
}

.btn--search .fa-close {
  font-size: 45px;
  color:$blueberry;
  @include MQ(M){
    font-size: 33px;
  }
}

.btn--login {
  display: block;
  float: left;
  font-size: 45px;
  margin-left: .53em;
  @include MQ(M){
    font-size: 33px;
  }
}

.btn--menu {
  display: block;
  float: left;
  @include MQ(M){
    padding-left: .3em;
    padding-right: .3em;
  }
}

