$meditech-green		: #006652;
$fresh-mint			  : #4BC8B6;
$blueberry			  : #003A69;
$key-west			    : #0095C3;
$black-coconut		: #3E4545;
//$light-gray		: #F5F6F8; //Original Light gray, too light for crappy monitors
$light-gray			  : #e6e9ee;
$orange         	: #FF823D;
$black          	: #000;
$white          	: #FFF;
$purple				    : #624d7d;
$yellow				    : #d6e045;


$red-orange       : #f4421a;
$brick            : #b73214;

.white{
  color: #fff;
}
