.navigation__list--item {
  display: inline-block;
  line-height: 2em;
  padding-right: 2em;
  font-size: 1.5em;
}
.navigation__list--item:last-child {
  padding-right: 0em;
}

.navigation__link {
  color: blue;
  display: inline-block;
  font-weight: 400;
}
.navigation__link:focus, .navigation__link:hover {
  color: green;
}

.logo__link {
  width: 100%;
  line-height: 2em;
  text-align: center;
}
